# Data Science Tools and Ecosystem

## Author
Henry Berrios

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientist include:
1. Pandas
2. NumPy
2. TensorFlow

| Data Science Tools |
|--------------------|
|Jupyter Notebook    |
|Apache Spark        |
|Scikit-learn        |

### Below are a few examples of evaluating arithmetic expression in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60 
200/60

3.3333333333333335